.footer
  .footer-inner
    .footer-cell
      %h2.footer-cell__head
        メルカリについて
      %ul.footer-cell__list
        %li.footer-cell__list--children
          = link_to '#', class: 'footer-link' do
            会社概要（運営会社）
        %li.footer-cell__list--children
          = link_to '#', class: 'footer-link' do
            採用情報
        %li.footer-cell__list--children
          = link_to '#', class: 'footer-link' do
            プレスリリース
        %li.footer-cell__list--children
          = link_to '#', class: 'footer-link' do
            公式ブログ
        %li.footer-cell__list--children
          = link_to '#', class: 'footer-link' do
            メルカリロゴ利用ガイドライン
        .sns-icons
          %li.footer-cell__list--children
            = link_to '#', class: 'footer-link' do
              = icon('fab', 'twitter', class: 'twitter-icon')
          %li.footer-cell__list--children
            = link_to '#', class: 'footer-link' do
              = icon('fab', 'facebook-square', class: 'facebook-icon')
    .footer-cell
      %h2.footer-cell__head
        ヘルプ＆ガイド
      %ul.footer-cell__list
        %li.footer-cell__list--children
          = link_to '#', class: 'footer-link' do
            メルカリガイド
        %li.footer-cell__list--children
          = link_to '#', class: 'footer-link' do
            らくらくメルカリ便
        %li.footer-cell__list--children
          = link_to '#', class: 'footer-link' do
            ゆうゆうメルカリ便
        %li.footer-cell__list--children
          = link_to '#', class: 'footer-link' do
            大型メルカリ便
        %li.footer-cell__list--children
          = link_to '#', class: 'footer-link' do
            車体取引ガイド
        %li.footer-cell__list--children
          = link_to '#', class: 'footer-link' do
            メルカリあんしん・あんぜん宣言！
        %li.footer-cell__list--children
          = link_to '#', class: 'footer-link' do
            偽ブランド品撲滅への取り組み
        %li.footer-cell__list--children
          = link_to '#', class: 'footer-link' do
            メルカリボックス
    .footer-wide-cell
      %h2.footer-wide-cell__head
        プライバシーと利用規約
      .footer-wide-cell__wrapper
        .footer-inner-cell
          %ul.footer-cell__list
            %li.footer-cell__list--children
              = link_to '#', class: 'footer-link' do
                プライバシーポリシー
            %li.footer-cell__list--children
              = link_to '#', class: 'footer-link' do
                メルカリ利用規約
            %li.footer-cell__list--children
              = link_to '#', class: 'footer-link' do
                あんしんスマホサポート制度に関する利用特約
            %li.footer-cell__list--children
              = link_to '#', class: 'footer-link' do
                コンプライアンスポリシー
        .footer-inner-cell
          %ul.footer-cell__list
            %li.footer-cell__list--children
              = link_to '#', class: 'footer-link' do
                個人データの安全管理に係る基本方針
            %li.footer-cell__list--children
              = link_to '#', class: 'footer-link' do
                特定商取引に関する表記
            %li.footer-cell__list--children
              = link_to '#', class: 'footer-link' do
                資金決済法に基づく表示
            %li.footer-cell__list--children
              = link_to '#', class: 'footer-link' do
                法令順守と犯罪抑止のために
            %li.footer-cell__list--children
              = link_to '#', class: 'footer-link' do
                返品・返金ポリシー
    .footer-cell-lang
      %h2.footer-cell__head
        国
      %ul.footer-cell__list
        %li.footer-cell__list--children
          = link_to '#', class: 'footer-link' do
            日本
        %li.footer-cell__list--children
          = link_to '#', class: 'footer-link' do
            United States
  .footer__bottom
    = link_to root_path, class: 'footer__bottom--logo' do
      = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?128691313", width: "124", heigth: "33", alt: "mercari"
    %p.footer__bottom--2019 © 2019 Mercari
