.wrapper
  .wrapper__main#new_item
    = form_for @item do |f|
      .wrapper__main__head
        %h2 商品の情報を入力
      .wrapper__main__image
        %h2
          出品画像
          %span.form-require 必須
        %p 最大10枚までアップロードできます
        = f.fields_for :item_images, @item.item_images.first do |image|
          .item__image__upload
            #preview
            .item__image__upload__input-container
              = image.label :image, for: "upload-image", class: "item__image__upload__input-container__image-label" do
                .input-area
                  = image.file_field :url, id: "upload-image", class: "upload-image", 'data-image': 0
                .item__image__upload__input-container__description
                  .item__image__upload__input-container__description__text
                    ドラッグアンドドロップ
                    %br
                    またはクリックしてファイルをアップロード
          .item__image__upload2
            #preview2
            .item__image__upload2__input-container2
              = image.label :image, for: "upload-image", class: "item__image__upload2__input-container2__image-label" do
                .input-area
                  = image.file_field :url, id: "upload-image", class: "upload-image", 'data-image': 0
                .item__image__upload2__input-container2__description
                  .item__image__upload2__input-container2__description__text
                    ドラッグアンドドロップ
                    %br
                    またはクリックしてファイルをアップロード
      .wrapper__main__item
        .wrapper__main__item__name
          %h3
            商品名
            %span.form-require 必須
          = f.text_field :name, placeholder: '商品名(必須40文字まで)'
        .wrapper__main__item__text
          %h3
            商品の説明
            %span.form-require 必須
          = f.text_area :text, autofocus: true, placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
      .wrapper__main__list__item.clearfix
        .wrapper__main__list__name
          %p 商品の詳細
        .wrapper__main__list__select__box
          .wrapper__main__list__select__top
            %p
              カテゴリー
              %span.form-require 必須
            #parent-category
              .wrapper__main__list__select__wrap
                = f.collection_select :category_id, @categories, :id, :name, { prompt: '---' }, autofocus: true, class: 'item-registration__form__group__box__select__body', id: "parent-form"
                %i.fas.fa-chevron-down
            #child-category
            #grandchild-category

          .wrapper__main__list__select__center.hidden
            %p
              サイズ
              %span.form-require 必須
            .wrapper__main__list__select__wrap
              =f.select :size, Item.sizes_i18n.invert, {}
              %i.fas.fa-chevron-down
          .wrapper__main__list__select__center.hidden
            %p
              ブランド
              %span.form-optional 任意
            .wrapper__main__list__select__wrap
              = f.text_field :brand_id, placeholder: '例）シャネル', class: 'item-registration__form__input', id: 'brand_search'
              %ul.brand_search_result
              = f.hidden_field :brand_id, class: "brand_search_result__id"

          .wrapper__main__list__select__bottom
            %p
              商品の状態
              %span.form-require 必須
            .wrapper__main__list__select__wrap
              =f.select :condition, Item.conditions_i18n.invert, {}
              %i.fas.fa-chevron-down
      .wrapper__main__list__delivery.clearfix
        .wrapper__main__list__name
          %p
            配送について
            %span.fa.fa-question-circle
        .wrapper__main__list__select__box
          .wrapper__main__list__select__top
            %p
              配送料の負担
              %span.form-require 必須
            .wrapper__main__list__select__wrap
              =f.select :delivery_charge, Item.delivery_charges_i18n.invert, {}
              %i.fas.fa-chevron-down
          .wrapper__main__list__select__center
            %p
              配送の方法
              %span.form-require 必須
            .wrapper__main__list__select__wrap
              =f.select :delivery_method, Item.delivery_methods_i18n.invert, {}
              %i.fas.fa-chevron-down
          .wrapper__main__list__select__center
            %p
              発送元の地域
              %span.form-require 必須
            .wrapper__main__list__select__wrap
              = f.collection_select :prefecture_id, Prefecture.all, :id, :name
              %i.fas.fa-chevron-down
          .wrapper__main__list__select__bottom
            %p
              発送までの日数
              %span.form-require 必須
            .wrapper__main__list__select__wrap
              =f.select :estimated_shipping_date , Item.estimated_shipping_dates_i18n.invert, {}
              %i.fas.fa-chevron-down
              =f.hidden_field :sales_status, value: "exhibition"
      .wrapper__main__list__price.clearfix
        .wrapper__main__list__name
          %h
            販売価格(300〜9,999,999)
            %span.fa.fa-question-circle
        .wrapper__main__list__select__box
          .wrapper__main__list__select__top
            %p
              価格
              %span.form-require 必須
            %p.children
              ¥
              = f.text_field :price, autofocus: true, placeholder: "例）300", id: 'item-price'
          .wrapper__main__list__select__center
            %p 販売手数料(10%)
            %a.children#commission -
          .wrapper__main__list__select__bottom
            %p 販売利益
            %a.children#profit -
      .wrapper__main__bottom.clearfix
        .wrapper__main__bottom__text
          %a.blue 禁止されている出品、行為
          %a
            を必ずご確認ください。
            %br/
          %a またブランド品でシリアルナンバー等がある場合はご記載ください。
          %a.blue 偽ブランドの販売
          %a は犯罪であり処罰される可能性があります。
          %br/
          %a また、出品を持ちまして
          %a.blue 加盟店規約
          %a に同意したことになります。
        %button.wrapper__main__bottom__red
          =f.submit "出品する"
        %button.wrapper__main__bottom__grey もどる