%section.pickup-container
  %h2.pickup-container__head
    ピックアップカテゴリー
  %section.pickup-items
    %h3.pickup-items__head
      %a.pickup-items__head--link{href: '#'}
        カテゴリー 新着アイテム
    .pickup-items__box
      %section.pickup-items__box--item
        %a.item-link{href: '#'}
          .item-link__image-box
            = image_tag 'dummy-item.png', alt: 'item-name', class: 'item-image'
          .item-link__text
            %h3.item-link__text--header
              ジャストカヴァリ スター刺繍 ストライプ ドレスシャツ 46
            .item-link__text--price
              .price
                ¥ 26,900
              .likes
                = fa_icon "heart", class: 'likes__icon'
                %span.likes__rate
                  10
            %p.item-link__text--tax
              (税込)
      %section.pickup-items__box--item
        %a.item-link{href: '#'}
          .item-link__image-box
            = image_tag 'dummy-item.png', alt: 'item-name', class: 'item-image'
          .item-link__text
            %h3.item-link__text--header
              ジャストカヴァリ スター刺繍 ストライプ ドレスシャツ 46
            .item-link__text--price
              .price
                ¥ 26,900
              .likes
                = fa_icon "heart", class: 'likes__icon'
                %span.likes__rate
                  10
            %p.item-link__text--tax
              (税込)
      %section.pickup-items__box--item
        %a.item-link{href: '#'}
          .item-link__image-box
            = image_tag 'dummy-item.png', alt: 'item-name', class: 'item-image'
          .item-link__text
            %h3.item-link__text--header
              ジャストカヴァリ スター刺繍 ストライプ ドレスシャツ 46
            .item-link__text--price
              .price
                ¥ 26,900
              .likes
                = fa_icon "heart", class: 'likes__icon'
                %span.likes__rate
                  10
            %p.item-link__text--tax
              (税込)
      %section.pickup-items__box--item
        %a.item-link{href: '#'}
          .item-link__image-box
            = image_tag 'dummy-item.png', alt: 'item-name', class: 'item-image'
          .item-link__text
            %h3.item-link__text--header
              ジャストカヴァリ スター刺繍 ストライプ ドレスシャツ 46
            .item-link__text--price
              .price
                ¥ 26,900
              .likes
                = fa_icon "heart", class: 'likes__icon'
                %span.likes__rate
                  10
            %p.item-link__text--tax
              (税込)
    .view-all
      %a.view-all__link{href: '#'}
        全ての商品を見る
  %section.pickup-items
    %h3.pickup-items__head
      %a.pickup-items__head--link{href: '#'}
        カテゴリー 新着アイテム
    .pickup-items__box
      %section.pickup-items__box--item
        %a.item-link{href: '#'}
          .item-link__image-box
            = image_tag 'dummy-item.png', alt: 'item-name', class: 'item-image'
          .item-link__text
            %h3.item-link__text--header
              ジャストカヴァリ スター刺繍 ストライプ ドレスシャツ 46
            .item-link__text--price
              .price
                ¥ 26,900
              .likes
                = fa_icon "heart", class: 'likes__icon'
                %span.likes__rate
                  10
            %p.item-link__text--tax
              (税込)
      %section.pickup-items__box--item
        %a.item-link{href: '#'}
          .item-link__image-box
            = image_tag 'dummy-item.png', alt: 'item-name', class: 'item-image'
          .item-link__text
            %h3.item-link__text--header
              ジャストカヴァリ スター刺繍 ストライプ ドレスシャツ 46
            .item-link__text--price
              .price
                ¥ 26,900
              .likes
                = fa_icon "heart", class: 'likes__icon'
                %span.likes__rate
                  10
            %p.item-link__text--tax
              (税込)
      %section.pickup-items__box--item
        %a.item-link{href: '#'}
          .item-link__image-box
            = image_tag 'dummy-item.png', alt: 'item-name', class: 'item-image'
          .item-link__text
            %h3.item-link__text--header
              ジャストカヴァリ スター刺繍 ストライプ ドレスシャツ 46
            .item-link__text--price
              .price
                ¥ 26,900
              .likes
                = fa_icon "heart", class: 'likes__icon'
                %span.likes__rate
                  10
            %p.item-link__text--tax
              (税込)
      %section.pickup-items__box--item
        %a.item-link{href: '#'}
          .item-link__image-box
            = image_tag 'dummy-item.png', alt: 'item-name', class: 'item-image'
          .item-link__text
            %h3.item-link__text--header
              ジャストカヴァリ スター刺繍 ストライプ ドレスシャツ 46
            .item-link__text--price
              .price
                ¥ 26,900
              .likes
                = fa_icon "heart", class: 'likes__icon'
                %span.likes__rate
                  10
            %p.item-link__text--tax
              (税込)
    .view-all
      %a.view-all__link{href: '#'}
        全ての商品を見る
