%section.pickup-container
  %h2.pickup-container__head
    ピックアップカテゴリー
  %section.pickup-items
    %h3.pickup-items__head
      = link_to '#', class: 'pickup-items__head--link' do
        レディース 新着アイテム
    .pickup-items__box
      = render "shared/pickup-items1"
    .view-all
      = link_to '#', class: 'view-all__link' do
        全ての商品を見る
  %section.pickup-items
    %h3.pickup-items__head
      = link_to '#', class: 'pickup-items__head--link' do
        メンズ 新着アイテム
    .pickup-items__box
      = render "shared/pickup-items2" 
    .view-all
      = link_to '#', class: 'view-all__link' do
        全ての商品を見る
