.item-box-container
  .item-box-container__item-box
    %h1.item-box-container__item-box__item-name
      = @item.name
    .item-box-container__item-box__contents
      .slider-container
        %ul.slider#slider
          %li.slider__item
            = image_tag "dummy-item1.png"
          %li.slider__item
            = image_tag "dummy-item2.png"
          %li.slider__item
            = image_tag "dummy-item3.png"
        %ul.thumbnail-slider#thumbnail-slider
          %li.thumbnail-slider__item
            = image_tag "dummy-item1.png"
          %li.thumbnail-slider__item
            = image_tag "dummy-item2.png"
          %li.thumbnail-slider__item
            = image_tag "dummy-item3.png"
      .item-detail
        %table.item-detail__table
          %tr.item-detail__table__tr
            %th.item-detail__table__tr__th
              出品者
            %td.item-detail__table__tr__td
              = link_to '#', class: 'item-detail__table__tr__td__user-link' do
                = @item.saler.nickname
              .item-detail__table__tr__td__ratings-container
                .item-detail__table__tr__td__ratings-container__item-user-ratings
                  = icon('fas', 'grin', class: 'item-detail__table__tr__td__ratings-container__item-user-ratings__good-icon')
                  %span.item-detail__table__tr__td__ratings-container__item-user-ratings__count
                    100
                .item-detail__table__tr__td__ratings-container__item-user-ratings
                  = icon('fas', 'meh', class: 'item-detail__table__tr__td__ratings-container__item-user-ratings__normal-icon')
                  %span.item-detail__table__tr__td__ratings-container__item-user-ratings__count
                    100
                .item-detail__table__tr__td__ratings-container__item-user-ratings
                  = icon('fas', 'frown', class: 'item-detail__table__tr__td__ratings-container__item-user-ratings__bad-icon')
                  %span.item-detail__table__tr__td__ratings-container__item-user-ratings__count
                    100
          %tr.item-detail__table__tr
            %th.item-detail__table__tr__th
              カテゴリー
            %td.item-detail__table__tr__td
              = link_to '#', class: 'item-detail__table__tr__td__category-link' do
                カテゴリー１
              = link_to '#', class: 'item-detail__table__tr__td__category-link' do
                .item-detail__table__category-link__sub-category
                  = icon('fas', 'angle-right', class: 'item-detail__table__tr__td__category-link__sub-category__arrow-right-icon')
                  カテゴリー２
              = link_to '#', class: 'item-detail__table__tr__td__category-link' do
                .item-detail__table__category-link__sub-category
                  = icon('fas', 'angle-right', class: 'item-detail__table__tr__td__category-link__sub-category__arrow-right-icon')
                  カテゴリー３
          %tr.item-detail__table__tr
            %th.item-detail__table__tr__th
              ブランド
            %td.item-detail__table__tr__td
              = link_to '#', class: 'item-detail__table__tr__td__brand-link' do
                %div
                  ブランド名
          %tr.item-detail__table__tr
            %th.item-detail__table__tr__th
              商品サイズ
            %td.item-detail__table__tr__td
              = @item.size_i18n
          %tr.item-detail__table__tr
            %th.item-detail__table__tr__th
              商品の状態
            %td.item-detail__table__tr__td
              = @item.condition_i18n
          %tr.item-detail__table__tr
            %th.item-detail__table__tr__th
              配送料の負担
            %td.item-detail__table__tr__td
              = @item.delivery_charge_i18n
          %tr.item-detail__table__tr
            %th.item-detail__table__tr__th
              配送の方法
            %td.item-detail__table__tr__td
              = @item.delivery_method_i18n
          %tr.item-detail__table__tr
            %th.item-detail__table__tr__th
              配送元地域
            %td.item-detail__table__tr__td
              = link_to '#', class: 'item-detail__table__tr__td__prefecture-link' do
                = @item.delivery_source_area
          %tr.item-detail__table__tr
            %th.item-detail__table__tr__th
              発送日の目安
            %td.item-detail__table__tr__td
              = @item.estimated_shipping_date_i18n
    .item-box-container__item-box__item-price-box
      %span.item-box-container__item-box__item-price-box__price
        ¥
        = @item.price
      %span.item-box-container__item-box__item-price-box__tax
        (税込)
      %span.item-box-container__item-box__item-price-box__shipping-fee
        = @item.delivery_charge_i18n
    = link_to '#', class: 'item-box-container__item-box__item-buy-btn' do
      購入画面に進む
    .item-box-container__item-box__item-description
      %p.item-box-container__item-box__item-description__text
        = @item.text
    .item-box-container__item-box__buttons-container
      .item-box-container__item-box__buttons-container__left-buttons
        %button.item-box-container__item-box__buttons-container__left-buttons__like-btn
          = icon('far', 'heart', class: 'item-box-container__item-box__buttons-container__left-buttons__like-btn__likes-icon')
          %span.item-box-container__item-box__buttons-container__left-buttons__like-btn__text
            いいね!
          %span.item-box-container__item-box__buttons-container__left-buttons__like-btn__like-count
            10
        .item-box-container__item-box__buttons-container__left-buttons__report-btn
          = link_to '#', class: 'item-box-container__item-box__buttons-container__left-buttons__report-btn__link' do
            = icon('far', 'flag', class: 'item-box-container__item-box__buttons-container__left-buttons__report-btn__link__report-icon')
            %span.item-box-container__item-box__buttons-container__left-buttons__report-btn__link__text
              不適切な商品の報告
      .item-box-container__item-box__buttons-container__right-button
        = link_to '#', class: 'item-box-container__item-box__buttons-container__right-button__link' do
          = icon('fas', 'lock', class: 'item-box-container__item-box__buttons-container__right-button__link__lock-icon')
          %span.item-box-container__item-box__buttons-container__right-button__link__text
            あんしん・あんぜんへの取り組み

  .item-box-container__message-container
    %p.item-box-container__message-container__attention
      相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    %form.item-box-container__message-container__form
      %textarea.item-box-container__message-container__form__textarea
      %button.item-box-container__message-container__form__submit{type: 'submit'}
        %span.item-box-container__message-container__form__submit__text
          コメントする
  %ul.item-box-container__nav-item
    %li.item-box-container__nav-item__prev
      = link_to '#', class: 'item-box-container__nav-item__prev__link' do
        = icon('fas', 'angle-left', class: 'item-box-container__nav-item__prev__link__icon')
        %span.item-box-container__nav-item__prev__link__text
          前の商品名
    %litem-box-container__nav-item__next
      = link_to '#', class: 'item-box-container__nav-item__next__link' do
        %span.item-box-container__nav-item__next__link__text
          次の商品名
        = icon('fas', 'angle-right', class: 'item-box-container__nav-item__next__link__icon')
  .item-box-container__social-media
    %ul.item-box-container__social-media__list
      %li.item-box-container__social-media__list__facebook
        .item-box-container__social-media__list__facebook__container
          = icon('fab', 'facebook-square', class: 'item-box-container__social-media__list__facebook__container__icon')
      %li.item-box-container__social-media__list__twitter
        .item-box-container__social-media__list__twitter__container
          = icon('fab', 'twitter', class: 'item-box-container__social-media__list__twitter__container__icon')
      %li.item-box-container__social-media__list__line
        .item-box-container__social-media__list__line__container
          = icon('fab', 'line', class: 'item-box-container__social-media__list__line__container__icon')
      %li.item-box-container__social-media__list__pinterest
        .item-box-container__social-media__list__pinterest__container
          = icon('fab', 'pinterest', class: 'item-box-container__social-media__list__pinterest__container__icon')
