- @top_item1.each_with_index do |item, index|
  %section.pickup-items__box--item
    = link_to '#', class: 'item-link' do
      .item-link__image-box
        = image_tag "#{@top_item2[index].item_images[0].url}", alt: 'item-name', class: 'item-image'
      .item-link__text
        %h3.item-link__text--header
          ="#{@top_item2[index].name}"
        .item-link__text--price
          .price
            ='¥ ' + number_with_delimiter("#{@top_item2[index].price}")
          .likes
            = icon('far', 'heart', class: 'likes__icon')
            %span.likes__rate
              10
            %p.item-link__text--tax
              (税込)
