.mypage-side
  %ul.mypage-side__lists
    %li
      %a.mypage-side__lists__link.mypage-list-link.list-active{href: "#"}
        マイページ
        = icon 'fas', 'chevron-right', class: "mypage-side__lists__link__go"
    %li
      %a.mypage-side__lists__link.mypage-list-link{href: "#"}
        お知らせ
        = icon 'fas', 'chevron-right', class: "mypage-side__lists__link__go"
    %li
      %a.mypage-side__lists__link.mypage-list-link{href: "#"}
        やることリスト
        = icon 'fas', 'chevron-right', class: "mypage-side__lists__link__go"
    %li
      %a.mypage-side__lists__link.mypage-list-link{href: "#"}
        いいね！一覧
        = icon 'fas', 'chevron-right', class: "mypage-side__lists__link__go"
    %li
      %a.mypage-side__lists__link.mypage-list-link{href: "#"}
        出品する
        = icon 'fas', 'chevron-right', class: "mypage-side__lists__link__go"
    %li
      %a.mypage-side__lists__link.mypage-list-link{href: "#"}
        出品した商品 - 出品中
        = icon 'fas', 'chevron-right', class: "mypage-side__lists__link__go"
    %li
      %a.mypage-side__lists__link.mypage-list-link{href: "#"}
        出品した商品 - 取引中
        = icon 'fas', 'chevron-right', class: "mypage-side__lists__link__go"
    %li
      %a.mypage-side__lists__link.mypage-list-link{href: "#"}
        出品した商品 - 売却済み
        = icon 'fas', 'chevron-right', class: "mypage-side__lists__link__go"
    %li
      %a.mypage-side__lists__link.mypage-list-link{href: "#"}
        購入した商品 - 取引中
        = icon 'fas', 'chevron-right', class: "mypage-side__lists__link__go"
    %li
      %a.mypage-side__lists__link.mypage-list-link{href: "#"}
        購入した商品 - 過去の取引
        = icon 'fas', 'chevron-right', class: "mypage-side__lists__link__go"
    %li
      %a.mypage-side__lists__link.mypage-list-link{href: "#"}
        ニュース一覧
        = icon 'fas', 'chevron-right', class: "mypage-side__lists__link__go"
    %li
      %a.mypage-side__lists__link.mypage-list-link{href: "#"}
        評価一覧
        = icon 'fas', 'chevron-right', class: "mypage-side__lists__link__go"
    %li
      %a.mypage-side__lists__link.mypage-list-link{href: "#"}
        ガイド
        = icon 'fas', 'chevron-right', class: "mypage-side__lists__link__go"
    %li
      %a.mypage-side__lists__link.mypage-list-link{href: "#"}
        お問い合わせ
        = icon 'fas', 'chevron-right', class: "mypage-side__lists__link__go"
  %h3.mypage-side__head メルペイ
  %ul.mypage-side__lists
    %li
      %a.mypage-side__lists__link.mypage-list-link{href: "#"}
        売上・振込申請
        = icon 'fas', 'chevron-right', class: "mypage-side__lists__link__go"
    %li
      %a.mypage-side__lists__link.mypage-list-link{href: "#"}
        ポイント
        = icon 'fas', 'chevron-right', class: "mypage-side__lists__link__go"
  %h3.mypage-side__head 設定
  %ul.mypage-side__lists
    %li
      %a.mypage-side__lists__link.mypage-list-link{href: "#"}
        プロフィール
        = icon 'fas', 'chevron-right', class: "mypage-side__lists__link__go"
    %li
      %a.mypage-side__lists__link.mypage-list-link{href: "#"}
        発送元・お届け先住所変更
        = icon 'fas', 'chevron-right', class: "mypage-side__lists__link__go"
    %li
      %a.mypage-side__lists__link.mypage-list-link{href: "#"}
        支払い方法
        = icon 'fas', 'chevron-right', class: "mypage-side__lists__link__go"
    %li
      %a.mypage-side__lists__link.mypage-list-link{href: "#"}
        メール/パスワード
        = icon 'fas', 'chevron-right', class: "mypage-side__lists__link__go"
    %li
      %a.mypage-side__lists__link.mypage-list-link{href: "#"}
        本人情報
        = icon 'fas', 'chevron-right', class: "mypage-side__lists__link__go"
    %li
      %a.mypage-side__lists__link.mypage-list-link{href: "#"}
        電話番号の確認
        = icon 'fas', 'chevron-right', class: "mypage-side__lists__link__go"
    %li
      %a.mypage-side__lists__link.mypage-list-link{href: "#"}
        ログアウト
        = icon 'fas', 'chevron-right', class: "mypage-side__lists__link__go"
