= render 'shared/header'

.nav-urls
  %ul.nav-urls__parent
    %li.nav-urls__children
      = link_to '#', class: 'nav-urls__children--link' do
        メルカリ
      = icon('fas', 'angle-right', class: 'arrow-right-icon')
    %li.nav-urls__children
      %span.nav-urls__children--item-name
        商品名

.item-box-container
  .item-box-container__item-box
    %h1.item-box-container__item-box__item-name
      商品名商品名商品名
    .item-box-container__item-box__contents
      .slider-container
        %ul.slider#slider
          %li.slider__item
            = image_tag "dummy-item1.png"
          %li.slider__item
            = image_tag "dummy-item2.png"
          %li.slider__item
            = image_tag "dummy-item3.png"
        %ul.thumbnail-slider#thumbnail-slider
          %li.thumbnail-slider__item
            = image_tag "dummy-item1.png"
          %li.thumbnail-slider__item
            = image_tag "dummy-item2.png"
          %li.thumbnail-slider__item
            = image_tag "dummy-item3.png"
      .item-detail
        %table.item-detail__table
          %tr
            %th
              出品者
            %td
              = link_to '#', class: 'item-detail__table__category-link' do
                出品者名
              .item-detail__table__ratings-container
                .item-detail__table__ratings-container__item-user-ratings
                  = icon('fas', 'grin', class: 'item-detail__table__ratings-container__item-user-ratings__good-icon')
                  %span 100
                .item-detail__table__ratings-container__item-user-ratings
                  = icon('fas', 'meh', class: 'item-detail__table__ratings-container__item-user-ratings__normal-icon')
                  %span 100
                .item-detail__table__ratings-container__item-user-ratings
                  = icon('fas', 'frown', class: 'item-detail__table__ratings-container__item-user-ratings__bad-icon')
                  %span 100
          %tr
            %th
              カテゴリー
            %td
              = link_to '#', class: 'item-detail__table__category-link' do
                カテゴリー１
              = link_to '#', class: 'item-detail__table__category-link' do
                .item-detail__table__category-link__sub-category
                  = icon('fas', 'angle-right', class: 'item-detail__table__category-link__sub-category__arrow-right-icon')
                  カテゴリー２
              = link_to '#', class: 'item-detail__table__category-link' do
                .item-detail__table__category-link__sub-category
                  = icon('fas', 'angle-right', class: 'item-detail__table__category-link__sub-category__arrow-right-icon')
                  カテゴリー３
          %tr
            %th
              ブランド
            %td
              = link_to '#', class: 'item-detail__table__category-link' do
                %div
                  ブランド名
          %tr
            %th
              商品サイズ
            %td
              FREE SIZE
          %tr
            %th
              商品の状態
            %td
              新品、未使用
          %tr
            %th
              配送料の負担
            %td
              送料込み(出品者負担)
          %tr
            %th
              配送の方法
            %td
              未定
          %tr
            %th
              配送元地域
            %td
              = link_to '#', class: 'item-detail__table__category-link' do
                大阪府
          %tr
            %th
              発送日の目安
            %td
              1~2日で発送
    .item-box-container__item-box__item-price-box
      %span.item-box-container__item-box__item-price-box__price
        ¥ 10,000
      %span.item-box-container__item-box__item-price-box__tax
        (税込)
      %span.item-box-container__item-box__item-price-box__shipping-fee
        送料込み
    = link_to '#', class: 'item-box-container__item-box__item-buy-btn' do
      購入画面に進む
    .item-box-container__item-box__item-description
      %p.item-box-container__item-box__item-description__text
        商品説明欄
        商品について説明する。

        テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
    .item-box-container__item-box__buttons-container
      .item-box-container__item-box__buttons-container__left-buttons
        %button.item-box-container__item-box__buttons-container__left-buttons__like-btn
          = icon('far', 'heart', class: 'item-box-container__item-box__buttons-container__left-buttons__like-btn__likes-icon')
          %span.item-box-container__item-box__buttons-container__left-buttons__like-btn__text
            いいね!
          %span.item-box-container__item-box__buttons-container__left-buttons__like-btn__like-count
            10
        .item-box-container__item-box__buttons-container__left-buttons__report-btn
          = link_to '#', class: 'item-box-container__item-box__buttons-container__left-buttons__report-btn__link' do
            = icon('far', 'flag', class: 'item-box-container__item-box__buttons-container__left-buttons__report-btn__link__report-icon')
            %span.item-box-container__item-box__buttons-container__left-buttons__report-btn__link__text
              不適切なボタンの報告
      .item-box-container__item-box__buttons-container__right-button
        = link_to '#', class: 'item-box-container__item-box__buttons-container__right-button__link' do
          = icon('fas', 'lock', class: 'item-box-container__item-box__buttons-container__right-button__link__lock-icon')
          %span.item-box-container__item-box__buttons-container__right-button__link__text
            あんしん・あんぜんへの取り組み



= render 'shared/banner'
= render 'shared/footer'