.header
  .header-inner
    .header-top
      .header-top__logo
        %h1
          = link_to do
            = image_tag 'logo.png', alt: 'mercari', class: 'header-top__logo--size'
      .header-top__form
        %form.top-form
          %input.serch-form{name: 'keyword', placeholder: '何かお探しですか？', type: 'search', value: ''}
          = fa_icon "search", class: 'serch-icon'
    .header-nav
      .header-nav__left
        %ul.nav-list
          %li.category
            %a.category__link{href: '#'}
              = fa_icon "list-ul", class: 'category-icon'
              カテゴリーから探す
            %ul.nav-parent
              %li.nav-children
                %a.nav-children__link{href: '#'}
                  レディース
              %li.nav-children
                %a.nav-children__link{href: '#'}
                  メンズ
              %li.nav-children
                %a.nav-children__link{href: '#'}
                  ベビー・キッズ
          %li.brand
            %a.brand__link{href: '#'}
              = fa_icon "tag", class: 'brand-icon'
              ブランドから探す
            %ul.nav-parent
              %li.nav-children
                %a.nav-children__link{href: '#'}
                  シャネル
              %li.nav-children
                %a.nav-children__link{href: '#'}
                  ナイキ
              %li.nav-children
                %a.nav-children__link{href: '#'}
                  ルイヴィトン
      .header-nav__right
        .nav-login
          %ul.logined-list
            %li.notification
              %a.notification__link{href: '#'}
                = fa_icon "bell", class: 'notification-icon'
                お知らせ
            %li.todo
              %a.todo__link{href: '#'}
                = fa_icon "check", class: 'todo-icon'
                やることリスト
                .todo__count
                  3
            %li.myPage
              %a.myPage__link{href: '#'}
                = image_tag 'member_photo_noimage_thumb.png', alt: 'my page', class: 'myPage-icon'
                マイページ
        /
          if user_signed_in?文で分ける
          %ul.nav-login__list
            %li.register
              %a.register__link{href: '#'}
                新規会員登録
            %li.login
              %a.login__link{href: '#'}
                ログイン

%section.pickup-container
  %h2.pickup-container__head
    ピックアップカテゴリー
  %section.pickup-items
    %h3.pickup-items__head
      %a.pickup-items__head--link{href: '#'}
        カテゴリー 新着アイテム
    .pickup-items__box
      %section.pickup-items__box--item
        %a.item-link{href: '#'}
          .item-link__image-box
            = image_tag 'dummy-item.png', alt: 'item-name', class: 'item-image'
          .item-link__text
            %h3.item-link__text--header
              ジャストカヴァリ スター刺繍 ストライプ ドレスシャツ 46
            .item-link__text--price
              .price
                ¥ 26,900
              .likes
                = fa_icon "heart", class: 'likes__icon'
                %span.likes__rate
                  10
            %p.item-link__text--tax
              (税込)
      %section.pickup-items__box--item
        %a.item-link{href: '#'}
          .item-link__image-box
            = image_tag 'dummy-item.png', alt: 'item-name', class: 'item-image'
          .item-link__text
            %h3.item-link__text--header
              ジャストカヴァリ スター刺繍 ストライプ ドレスシャツ 46
            .item-link__text--price
              .price
                ¥ 26,900
              .likes
                = fa_icon "heart", class: 'likes__icon'
                %span.likes__rate
                  10
            %p.item-link__text--tax
              (税込)
      %section.pickup-items__box--item
        %a.item-link{href: '#'}
          .item-link__image-box
            = image_tag 'dummy-item.png', alt: 'item-name', class: 'item-image'
          .item-link__text
            %h3.item-link__text--header
              ジャストカヴァリ スター刺繍 ストライプ ドレスシャツ 46
            .item-link__text--price
              .price
                ¥ 26,900
              .likes
                = fa_icon "heart", class: 'likes__icon'
                %span.likes__rate
                  10
            %p.item-link__text--tax
              (税込)
      %section.pickup-items__box--item
        %a.item-link{href: '#'}
          .item-link__image-box
            = image_tag 'dummy-item.png', alt: 'item-name', class: 'item-image'
          .item-link__text
            %h3.item-link__text--header
              ジャストカヴァリ スター刺繍 ストライプ ドレスシャツ 46
            .item-link__text--price
              .price
                ¥ 26,900
              .likes
                = fa_icon "heart", class: 'likes__icon'
                %span.likes__rate
                  10
            %p.item-link__text--tax
              (税込)
    .view-all
      %a.view-all__link{href: '#'}
        全ての商品を見る

.banner
  .banner-contents
    .banner-contents__inner
      .banner-contents__inner--top
        %h2.banner-title
          スマホでかんたんフリマアプリ
        %p.banner-publicity
          今すぐ無料ダウンロード!
      .banner-icons
        .banner-icons__mercari-logo
          = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?1857733084", width: "68", height: "68"
        .banner-icons__links
          %ul.banner-icons__links__list
            %li.banner-icons__links__list__ios
              = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?1857733084"
            %li.banner-icons__links__list__android
              = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?1857733084"
    .banner-contents__smartphone-image
      = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?1857733084", width: "300", heigth: "260"

.footer
  .footer-inner
    .footer-cell
      %h2.footer-cell__head
        メルカリについて
      %ul.footer-cell__list
        %li.footer-cell__list--children
          %a.footer-link{href: '#'}
            会社概要（運営会社）
        %li.footer-cell__list--children
          %a.footer-link{href: '#'}
            採用情報
        %li.footer-cell__list--children
          %a.footer-link{href: '#'}
            プレスリリース
        %li.footer-cell__list--children
          %a.footer-link{href: '#'}
            公式ブログ
        %li.footer-cell__list--children
          %a.footer-link{href: '#'}
            メルカリロゴ利用ガイドライン
        .sns-icons
          %li.footer-cell__list--children
            %a.footer-link{href: '#'}
              = fa_icon "twitter", class: 'twitter-icon'
          %li.footer-cell__list--children
            %a.footer-link{href: '#'}
              = fa_icon "facebook", class: 'facebook-icon'
    .footer-cell
      %h2.footer-cell__head
        ヘルプ＆ガイド
      %ul.footer-cell__list
        %li.footer-cell__list--children
          %a.footer-link{href: '#'}
            メルカリガイド
        %li.footer-cell__list--children
          %a.footer-link{href: '#'}
            らくらくメルカリ便
        %li.footer-cell__list--children
          %a.footer-link{href: '#'}
            ゆうゆうメルカリ便
        %li.footer-cell__list--children
          %a.footer-link{href: '#'}
            大型メルカリ便
        %li.footer-cell__list--children
          %a.footer-link{href: '#'}
            車体取引ガイド
        %li.footer-cell__list--children
          %a.footer-link{href: '#'}
            メルカリあんしん・あんぜん宣言！
        %li.footer-cell__list--children
          %a.footer-link{href: '#'}
            偽ブランド品撲滅への取り組み
        %li.footer-cell__list--children
          %a.footer-link{href: '#'}
            メルカリボックス
    .footer-wide-cell
      %h2.footer-wide-cell__head
        プライバシーと利用規約
      .footer-wide-cell__wrapper
        .footer-inner-cell
          %ul.footer-cell__list
            %li.footer-cell__list--children
              %a.footer-link{href: '#'}
                プライバシーポリシー
            %li.footer-cell__list--children
              %a.footer-link{href: '#'}
                メルカリ利用規約
            %li.footer-cell__list--children
              %a.footer-link{href: '#'}
                あんしんスマホサポート制度に関する利用特約
            %li.footer-cell__list--children
              %a.footer-link{href: '#'}
                コンプライアンスポリシー
        .footer-inner-cell
          %ul.footer-cell__list
            %li.footer-cell__list--children
              %a.footer-link{href: '#'}
                個人データの安全管理に係る基本方針
            %li.footer-cell__list--children
              %a.footer-link{href: '#'}
                特定商取引に関する表記
            %li.footer-cell__list--children
              %a.footer-link{href: '#'}
                資金決済法に基づく表示
            %li.footer-cell__list--children
              %a.footer-link{href: '#'}
                法令順守と犯罪抑止のために
            %li.footer-cell__list--children
              %a.footer-link{href: '#'}
                返品・返金ポリシー
    .footer-cell-lang
      %h2.footer-cell__head
        国
      %ul.footer-cell__list
        %li.footer-cell__list--children
          %a.footer-link{href: '#'}
            日本
        %li.footer-cell__list--children
          %a.footer-link{href: '#'}
            United States
  .footer__bottom
    %a.footer__bottom--logo{href: '#'}
      = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?128691313", width: "124", heigth: "33", alt: "mercari"
    %p.footer__bottom--2019 © 2019 Mercari















