.signup-container
  %header.signup-header
    %h1.signup-header__logo
      = link_to '#', class: 'link-default' do
        = image_tag 'logo.png', alt: 'mercari', class: 'signup-header__logo__size'
  .signup
    .signup__head
      %h2
        新規会員登録
    .signup__inner
      .signup__content
        = link_to '#', class: 'signup__mail-btn' do
          = icon 'far', 'envelope', class: 'icon-mail'
          メールアドレスで登録
        %button.signup__facebook-btn
          = icon 'fab', 'facebook-square', class: 'icon-facebook'
          Facebookで登録
        %button.signup__google-btn
          = image_tag 'google-icon.png', class: 'icon-google'
          Googleで登録
  = render partial: 'signup-footer'
