.container
  = render 'shared/header'
  .profile-header
    %ul
      %li
        = link_to "#", class: "profile-header__link" do
          メルカリ
          = icon 'fas', 'chevron-right', class: 'profile-header__link__icon'
      %li
        = link_to "#", class: "profile-header__link" do
          マイページ
          = icon 'fas', 'chevron-right', class: 'profile-header__link__icon'
      %li
        = link_to "#", class: "profile-header__link" do
          ログアウト

  .contents.clearfix
    = render partial: "shared/mypage-side"
    .mypage
      .mypage__logout
        = link_to 'ログアウト', destroy_user_session_path, method: :DELETE, class: 'mypage__logout__btn'

  = render 'shared/banner'
  = render 'shared/footer'
  = render 'shared/footer-sellBtn'
