.container
  = render 'shared/header'
  .breadcrumb 
    %ul
      %li
        - breadcrumb :mypage
        = render "layouts/breadcrumbs"  
  .contents.clearfix
    = render partial: "shared/mypage-side"
    .mypage
      .mypage__user
        .mypage__user__link
          = link_to "#", class: "mypage-link" do
            = image_tag "member_photo_noimage.png", class: "mypage__user__link__icon"
            %h3.mypage__user__link__name user name
            .mypage__user__link__number
              .mypage__user__link__number__rate 評価
              .mypage__user__link__number__count 0
              .mypage__user__link__number__exhibits 出品数
              .mypage__user__link__number__count 0
      .mypage__tabs
        %ul.mypage__tabs__menu.tabs
          %li.mypage__tabs__menu__news.tab-news.tab-active
            %h3
              .mypage-link お知らせ
          %li.mypage__tabs__menu__todo-list.tab-news
            %h3
              .mypage-link やることリスト
        .mypage__tabs__contents
          %ul.tab-news-content.tab-show
            %li.mypage__tabs__contents__news
              = link_to "#", class: "mypage__tabs__contents__news__link mypage-list-link" do
                = image_tag "mercari_box.png", class: "mypage__tabs__contents__news__link__image"
                .mypage__tabs__contents__news__link__message
                  .mypage__tabs__contents__news__link__message__text
                    事務局から個別メッセージ
                  %span.mypage__tabs__contents__news__link__message__day
                    = icon 'far', 'clock'
                    1日前
                %icon.mypage__tabs__contents__news__link__go
                  = icon 'fas', 'chevron-right'
            %li.mypage__tabs__contents__news
              = link_to "#", class: "mypage__tabs__contents__news__link mypage-list-link" do
                = image_tag "mercari_box.png", class: "mypage__tabs__contents__news__link__image"
                .mypage__tabs__contents__news__link__message
                  .mypage__tabs__contents__news__link__message__text
                    事務局から個別メッセージ
                  %span.mypage__tabs__contents__news__link__message__day
                    = icon 'far', 'clock'
                    1日前
                %icon.mypage__tabs__contents__news__link__go
                  = icon 'fas', 'chevron-right'
            %li.mypage__tabs__contents__news-lists
              .mypage__tabs__contents__news-lists__link.mypage-list-link
                = link_to "一覧を見る", "#"
          %ul.tab-news-content
            %li.mypage__tabs__contents__todo.not-found 現在、やることリストはありません
      .mypage__buy
        %h3.mypage__buy__title 購入した商品
        %ul.mypage__buy__menu.tabs
          %li.mypage__buy__menu__now.tab-buy.tab-active
            %h3
              .mypage-link 取引中
          %li.mypage__buy__menu__past.tab-buy
            %h3
              .mypage-link 過去の取引
        .mypage__tabs__contents
          %ul.tab-buy-content.tab-show
            %li.mypage__tabs__contents__now.not-found 取引中の商品がありません
          %ul.tab-buy-content
            %li.mypage__tabs__contents__past.not-found 取引中の商品がありません
  = render 'shared/banner'
  = render 'shared/footer'
