.login-container
  = render partial: 'shared/login-header'
  .login
    .login__no-account
      %p
        アカウントをお持ちでない方はこちら
      =link_to '新規会員登録', new_user_registration_path, class: 'login-btn'
    .login-form__inner
      %button.signup__facebook-btn
        = icon 'fab', 'facebook-square', class: 'icon-facebook'
        Facebookでログイン
      %button.signup__google-btn
        = image_tag 'google-icon.png', class: 'icon-google'
        Googleでログイン
    .form.login-form
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .login-form__inner
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: 'input-default'
          = f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: 'login-form__inner__input input-default'
          .login-form__inner__group
            = f.submit "ログイン", class: "registration-form__btn"
        - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
          .login-form__inner__group
            = link_to 'パスワードをお忘れの方', '#', class: 'link-default login-form__inner__group__text'
  = render partial: 'shared/login-footer'
