.container
  .purchase
    = render "shared/purchase-header"
    .purchase__confirmation
      .purchase__confirmation__head.bold 購入内容の確認
      .purchase__confirmation__body
        .purchase__confirmation__body__inner
          .purchase__confirmation__body__inner__image
            = image_tag @item.item_images.first.url, class: "purchase__confirmation__body__inner__image__photo"
          .purchase__confirmation__body__inner__name.bold
            = @item.name
          .purchase-form
            .purchase__confirmation__body__inner__item-price
              %p.bold
                = '¥ ' + number_with_delimiter("#{@item.price}")
                %span
                  = @item.delivery_charge_i18n
            .purchase__confirmation__body__inner__point ポイントはありません
            .purchase__confirmation__body__inner__buy-price.bold
              .purchase__confirmation__body__inner__buy-price__left 支払い金額
              .purchase__confirmation__body__inner__buy-price__right
                = '¥ ' + number_with_delimiter("#{@item.price}")
            - if @user.address && @user.creditcard.present?
              = form_tag(action: :pay) do
                %button.purchase__confirmation__body__inner__btn 購入する
            - else
              .purchase__error-text 配送先と支払い方法の入力を完了してください。
              .purchase__error-btn 購入する
      .purchase__confirmation__user
        .purchase__confirmation__body__inner
          .purchase__confirmation__user__head.bold 配送先
          - if @user.address.present?
            .purchase__confirmation__user__body
              = @user.address.postal_code
              %br/
              = @user.address.prefecture.name
              = @user.address.city
              = @user.address.street_address
              = @user.address.building
              %br/
              = @user.profile.family_name
              = @user.profile.first_name
          - else
            %br/
            ／
          .purchase__confirmation__user__change
            = link_to "#", class: "purchase__confirmation__user__change__link" do
              変更する
              = icon 'fas', 'chevron-right'
      .purchase__confirmation__user
        .purchase__confirmation__body__inner
          .purchase__confirmation__user__head.bold 支払い方法
          .purchase__confirmation__user__body
            ************1234
            %br/
            12/34
            %br/
            = image_tag "visa.svg", {width: "49"}
          .purchase__confirmation__user__change
            = link_to "#", class: "purchase__confirmation__user__change__link" do
              変更する
              = icon 'fas', 'chevron-right'
    = render "shared/purchase-footer"
