= render 'shared/header'

.breadcrumb
  %ul
    %li
      - breadcrumb :item
      = render "layouts/breadcrumbs"

= render 'shared/item-detail'
= render 'shared/other-items'
= render 'shared/banner'
= render 'shared/footer'