= render 'shared/header'

.profile-header
  %ul
    %li
      = link_to "#", class: "profile-header__link" do
        メルカリ
        = icon 'fas', 'chevron-right', class: 'profile-header__link__icon'
    %li
      = link_to "#", class: "profile-header__link" do
        = @item.name

= render 'shared/item-detail'
= render 'shared/other-items'
= render 'shared/banner'
= render 'shared/footer'